[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-rest-knox = "*"
psycopg2-binary = "*"
djangorestframework-simplejwt = "*"
drf-yasg = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.10"
